<a href="https://colab.research.google.com/github/GeoffreyKimani/InvetorySystem-VueJS-/blob/master/house_expenditure_anaylsis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# !pip install PyDrive

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [3]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [4]:
# https://docs.google.com/spreadsheets/d/1EmoHMuC15JxaXORjtYBFe0ybSEIAbrlbmzFVha8_fMs/edit?usp=sharing
downloaded = drive.CreateFile({'id':"1EmoHMuC15JxaXORjtYBFe0ybSEIAbrlbmzFVha8_fMs"})
downloaded.GetContentFile('household_expenditure', mimetype='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet')

In [5]:
data = pd.read_excel('household_expenditure')

# select only columns of interest
data = data.loc[:, 'Purchaser':'Misc Cost']

# remove rows with no entries for all fields
data.dropna(axis=0, how='all', inplace=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151 entries, 0 to 150
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Purchaser  122 non-null    object
 1   Date       122 non-null    object
 2   Cost       122 non-null    float64
 3   Category   122 non-null    object
 4   Item       122 non-null    object
 5   Month      89 non-null     object
 6   Food Cost  151 non-null    float64
 7   Misc Cost  95 non-null     float64
dtypes: float64(3), object(5)
memory usage: 10.6+ KB

In [6]:
# select all entries where names are unique and form their own dataframes
name_list = ['NK', 'MX', 'JO', 'GK']
purchaser_list = {}

for name in name_list:
    new_df = name + '_df'
    new_df = data[data['Purchaser'] == name]
    purchaser_list.update({name: new_df})

purchaser_list

{'GK':     Purchaser                 Date     Cost  ...     Month Food Cost Misc Cost
 0          GK  2021-08-30 00:00:00   1600.0  ...  Aug 2021    1600.0       0.0
 2          GK  2021-09-02 00:00:00  11400.0  ...  Sep 2021       0.0   11400.0
 3          GK  2021-09-02 00:00:00   1400.0  ...  Sep 2021    1400.0       0.0
 5          GK  2021-09-04 00:00:00  12400.0  ...  Sep 2021       0.0   12400.0
 6          GK  2021-09-04 00:00:00   3200.0  ...  Sep 2021    3200.0       0.0
 11         GK  2021-09-12 00:00:00  14000.0  ...  Sep 2021   14000.0       0.0
 13         GK           13/09/2021   3200.0  ...  Sep 2021    3200.0       0.0
 14         GK           15/09/2021  11600.0  ...  Sep 2021   11600.0       0.0
 15         GK           17/09/2021   5300.0  ...  Sep 2021    5300.0       0.0
 19         GK           26/09/2021   9500.0  ...  Sep 2021    9500.0       0.0
 21         GK           30/09/2021   3200.0  ...  Sep 2021    3200.0       0.0
 23         GK           03/10/2021   2000.0  ...       NaN    2000.0       NaN
 25         GK           04/10/2021   5500.0  ...  Oct 2021    5500.0       0.0
 29         GK           09/10/2021   1800.0  ...  Oct 2021       0.0    1800.0
 30         GK           09/10/2021   4000.0  ...  Oct 2021    4000.0       0.0
 33         GK           12/10/2021   2000.0  ...  Oct 2021    2000.0       0.0
 35         GK           12/10/2021   3400.0  ...  Oct 2021       0.0    3400.0
 38         GK           16/10/2021   5000.0  ...  Oct 2021    5000.0       0.0
 39         GK           17/10/2021   2400.0  ...  Oct 2021       0.0    2400.0
 42         GK           20/10/2021   1500.0  ...  Oct 2021    1500.0       0.0
 43         GK           20/10/2021   4500.0  ...  Oct 2021    4500.0       0.0
 45         GK           22/10/2021   5000.0  ...  Oct 2021    5000.0       0.0
 46         GK           23/10/2021   1600.0  ...  Oct 2021    1600.0       0.0
 48         GK           24/10/2021   5000.0  ...  Oct 2021    5000.0       0.0
 51         GK           28/10/2021   5500.0  ...  Oct 2021       0.0    5500.0
 53         GK           29/10/2021   3000.0  ...  Oct 2021       0.0    3000.0
 54         GK           30/10/2021   1000.0  ...  Oct 2021    1000.0       0.0
 56         GK           31/10/2021   8500.0  ...  Oct 2021    8500.0       0.0
 58         GK           02/11/2021   8500.0  ...  Nov 2021    8500.0       0.0
 60         GK           02/11/2021   7500.0  ...  Nov 2021    7500.0       0.0
 61         GK           02/11/2021   5200.0  ...  Nov 2021    5200.0       0.0
 62         GK           03/11/2021   5400.0  ...  Nov 2021    5400.0       0.0
 64         GK           06/11/2021   5300.0  ...  Nov 2021    5300.0       0.0
 66         GK           09/11/2021   3000.0  ...  Nov 2021    3000.0       0.0
 68         GK           10/11/2021   5500.0  ...  Nov 2021    5500.0       0.0
 69         GK           10/11/2021   8200.0  ...  Nov 2021    8200.0       0.0
 77         GK           19/11/2021   2700.0  ...  Nov 2021    2700.0       0.0
 81         GK           24/11/2021   2100.0  ...       NaN    2100.0       0.0
 88         GK           29/11/2021   1500.0  ...  Nov 2021    1500.0       0.0
 90         GK            2/12/2021  10000.0  ...  Dec 2021   10000.0       0.0
 91         GK            2/12/2021   3200.0  ...  Dec 2021    3200.0       0.0
 92         GK            4/12/2021   1600.0  ...  Dec 2021    1600.0       0.0
 108        GK           06/12/2021   5500.0  ...  Dec 2021    5500.0       0.0
 110        GK           07/12/2021   5000.0  ...  Dec 2021    5000.0       0.0

 [44 rows x 8 columns],
 'JO':     Purchaser                 Date     Cost  ...     Month Food Cost Misc Cost
 22         JO           03/10/2021  75480.0  ...  Oct 2021       0.0   75480.0
 37         JO  2021-10-14 00:00:00   4900.0  ...       NaN    4900.0       0.0
 49         JO  2021-10-26 00:00:00   6550.0  ...       NaN    6550.0       NaN
 52         JO  2021-10-29 00:00:00   2000.0  ...       NaN    2000.0       NaN
 79         JO           23/11/2021   2000.0  ...  Nov 2021       0.0       0.0
 80         JO  2021-11-23 00:00:00   1650.0  ...  Nov 2021    1650.0       0.0
 83         JO           24/11/2021  18000.0  ...  Nov 2021       0.0   18000.0
 93         JO  2021-12-05 00:00:00   4200.0  ...  Dec 2021    4200.0       0.0
 94         JO  2021-12-28 00:00:00   9700.0  ...  Dec 2021    9700.0       0.0
 96         JO  2021-11-29 00:00:00   5000.0  ...       NaN    5000.0       NaN
 98         JO  2021-12-06 00:00:00   5000.0  ...  Dec 2021    5000.0       0.0
 100        JO  2021-10-02 00:00:00  12200.0  ...  Oct 2021   12200.0       0.0
 101        JO  2021-11-05 00:00:00  22000.0  ...  Nov 2021   22000.0       0.0
 102        JO  2021-09-25 00:00:00  16000.0  ...  Sep 2021   16000.0       0.0
 103        JO  2021-10-15 00:00:00  16000.0  ...  Oct 2021   16000.0       0.0
 104        JO  2021-10-16 00:00:00   6000.0  ...  Oct 2021    6000.0       0.0
 106        JO  2021-11-09 00:00:00   5050.0  ...  Nov 2021    5050.0       0.0
 107        JO  2021-09-11 00:00:00  27500.0  ...  Sep 2021   27500.0       0.0
 112        JO  2021-09-05 00:00:00  19000.0  ...  Sep 2021   19000.0       0.0
 113        JO  2021-11-14 00:00:00  14100.0  ...  Nov 2021   14100.0       0.0
 114        JO  2021-11-14 00:00:00  10600.0  ...  Nov 2021   10600.0       0.0
 115        JO  2021-11-21 00:00:00  10600.0  ...  Nov 2021   10600.0       0.0
 116        JO  2021-11-21 00:00:00  14100.0  ...  Nov 2021   14100.0       0.0
 117        JO  2021-12-09 00:00:00   2800.0  ...  Dec 2021    2800.0       0.0

 [24 rows x 8 columns],
 'MX':     Purchaser                 Date     Cost  ...     Month Food Cost Misc Cost
 7          MX  2021-09-04 00:00:00   1800.0  ...  Sep 2021    1800.0       0.0
 8          MX  2021-09-06 00:00:00  16000.0  ...  Sep 2021   16000.0       0.0
 9          MX  2021-09-07 00:00:00   6700.0  ...  Sep 2021    6700.0       0.0
 10         MX  2021-09-09 00:00:00   1920.0  ...  Sep 2021    1920.0       0.0
 12         MX  2021-09-12 00:00:00  11400.0  ...  Sep 2021   11400.0       0.0
 16         MX  2021-09-19 00:00:00  20200.0  ...  Sep 2021   20200.0       0.0
 17         MX  2021-09-19 00:00:00   5100.0  ...  Sep 2021       0.0    5100.0
 18         MX  2020-09-23 00:00:00  10200.0  ...       NaN   10200.0       NaN
 20         MX  2021-09-26 00:00:00  33800.0  ...  Sep 2021   33800.0       0.0
 24         MX  2021-10-05 00:00:00  11800.0  ...  Oct 2021   11800.0       0.0
 26         MX  2021-10-06 00:00:00   5500.0  ...  Oct 2021    5500.0       0.0
 27         MX  2021-10-07 00:00:00   1200.0  ...       NaN       0.0       NaN
 28         MX  2021-10-08 00:00:00   1900.0  ...       NaN    1900.0       NaN
 31         MX  2021-10-10 00:00:00  27500.0  ...       NaN   27500.0       0.0
 32         MX  2021-10-11 00:00:00   6380.0  ...       NaN       0.0       NaN
 34         MX  2021-10-12 00:00:00   1150.0  ...       NaN    1150.0       NaN
 36         MX  2021-10-14 00:00:00  11500.0  ...       NaN   11500.0       NaN
 40         MX  2021-10-18 00:00:00   1900.0  ...       NaN    1900.0       0.0
 41         MX  2021-10-20 00:00:00   3000.0  ...  Oct 2021    3000.0       0.0
 44         MX  2021-10-21 00:00:00   7300.0  ...       NaN    7300.0       NaN
 47         MX  2021-10-23 00:00:00   8000.0  ...       NaN    8000.0       NaN
 50         MX  2021-10-26 00:00:00   8000.0  ...  Oct 2021    8000.0       0.0
 55         MX  2021-10-30 00:00:00   4300.0  ...       NaN    4300.0       NaN
 57         MX  2021-11-01 00:00:00   1600.0  ...       NaN    1600.0       NaN
 59         MX  2021-11-02 00:00:00   5050.0  ...       NaN    5050.0       NaN
 63         MX  2021-11-06 00:00:00  14500.0  ...       NaN   14500.0       NaN
 65         MX  2021-11-08 00:00:00   3000.0  ...       NaN    3000.0       NaN
 67         MX  2021-11-09 00:00:00   4250.0  ...       NaN    4250.0       NaN
 70         MX  2021-11-12 00:00:00   7600.0  ...  Nov 2021    7600.0       0.0
 71         MX  2021-11-14 00:00:00   5800.0  ...       NaN    5800.0       NaN
 72         MX  2021-11-15 00:00:00   7350.0  ...  Nov 2021    7350.0       0.0
 73         MX  2021-11-16 00:00:00   4250.0  ...  Nov 2021    4250.0       0.0
 74         MX  2021-11-17 00:00:00   5400.0  ...  Nov 2021    5400.0       0.0
 75         MX  2021-11-18 00:00:00   6400.0  ...  Nov 2021    6400.0       0.0
 76         MX  2021-11-19 00:00:00  10600.0  ...  Nov 2021   10600.0       0.0
 78         MX  2021-11-22 00:00:00  12400.0  ...  Nov 2021   12400.0       0.0
 105        MX  2021-10-28 00:00:00  12400.0  ...       NaN   12400.0       NaN
 111        MX  2021-12-07 00:00:00  11300.0  ...       NaN   11300.0       NaN
 119        MX  2021-12-10 00:00:00  16000.0  ...  Dec 2021   16000.0       0.0
 121        MX  2021-12-12 00:00:00   6000.0  ...  Dec 2021    6000.0       0.0

 [40 rows x 8 columns],
 'NK':     Purchaser                 Date     Cost  ...     Month Food Cost Misc Cost
 1          NK  2021-09-01 00:00:00   4300.0  ...  Sep 2021    4300.0       0.0
 4          NK  2021-09-02 00:00:00   3000.0  ...       NaN    3000.0       NaN
 82         NK           24/11/2021  22000.0  ...       NaN       0.0   22000.0
 84         NK  2021-11-21 00:00:00  25000.0  ...  Nov 2021       0.0   25000.0
 85         NK  2021-11-24 00:00:00   1600.0  ...  Nov 2021    1600.0       0.0
 86         NK  2021-11-25 00:00:00   3950.0  ...       NaN    3950.0       NaN
 87         NK  2021-11-26 00:00:00   5900.0  ...       NaN    5900.0       NaN
 89         NK  2021-11-30 00:00:00  10000.0  ...       NaN       0.0   10000.0
 95         NK  2021-11-29 00:00:00   5100.0  ...       NaN    5100.0       NaN
 97         NK  2021-11-30 00:00:00   2250.0  ...       NaN    2250.0       NaN
 99         NK  2021-12-02 00:00:00   2200.0  ...       NaN    2200.0       NaN
 109        NK  2021-11-22 00:00:00  15000.0  ...  Nov 2021   15000.0       0.0
 118        NK  2021-12-11 00:00:00  16000.0  ...  Dec 2021       0.0   16000.0
 120        NK  2021-12-12 00:00:00   5000.0  ...  Dec 2021    5000.0       0.0

 [14 rows x 8 columns]}

In [7]:
# total expenses
purchaser_expense = {}
for purchaser, df in purchaser_list.items():
    purchaser_expense.update({purchaser: df['Cost'].sum()})

purchaser_expense

{'GK': 218700.0, 'JO': 310430.0, 'MX': 340450.0, 'NK': 121300.0}

#Share Contribution and Deficit

In [8]:
total_expense = sum(purchaser_expense.values())
total_expense

990880.0

In [9]:
# personal share
personal_share = total_expense/len(purchaser_expense)
personal_share

247720.0

In [10]:
# deficit
deficits = {person: contribution - personal_share for person, contribution in purchaser_expense.items()}
deficits

{'GK': -29020.0, 'JO': 62710.0, 'MX': 92730.0, 'NK': -126420.0}

# Monthly Analysis 💰

In [11]:
# plt.bar(total_expense.keys(), total_expense.values())