<a href="https://colab.research.google.com/github/GeoffreyKimani/InvetorySystem-VueJS-/blob/master/house_expenditure_anaylsis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install PyDrive

Requirement already satisfied: PyDrive in /usr/local/lib/python3.7/dist-packages (1.3.1)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.7/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.7/dist-packages (from PyDrive) (1.12.8)
Requirement already satisfied: google-auth>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.35.0)
Requirement already satisfied: httplib2<1dev,>=0.15.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.17.4)
Requirement already satisfied: google-api-core<2dev,>=1.21.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.26.3)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.4)
Requirement already satisfied: six<2dev,>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.15.0)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (57.4.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (2018.9)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (1.53.0)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (3.17.3)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (21.3)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (2.23.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.16.0->google-api-python-client>=1.2->PyDrive) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.16.0->google-api-python-client>=1.2->PyDrive) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.16.0->google-api-python-client>=1.2->PyDrive) (4.7.2)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (3.0.6)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (1.24.3)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
# https://docs.google.com/spreadsheets/d/1EmoHMuC15JxaXORjtYBFe0ybSEIAbrlbmzFVha8_fMs/edit?usp=sharing
downloaded = drive.CreateFile({'id':"1EmoHMuC15JxaXORjtYBFe0ybSEIAbrlbmzFVha8_fMs"})
downloaded.GetContentFile('household_expenditure', mimetype='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet')

In [ ]:
data = pd.read_excel('household_expenditure')

# select only columns of interest
data = data.loc[:, 'Purchaser':'Misc Cost']

# remove rows with no entries for all fields
data.dropna(axis=0, how='all', inplace=True)

data

   Purchaser                 Date     Cost  ...     Month Food Cost Misc Cost
0         GK  2021-08-30 00:00:00   1600.0  ...  Aug 2021    1600.0       0.0
1         NK  2021-09-01 00:00:00   4300.0  ...  Sep 2021    4300.0       0.0
2         GK  2021-09-02 00:00:00  11400.0  ...  Sep 2021       0.0   11400.0
3         GK  2021-09-02 00:00:00   1400.0  ...  Sep 2021    1400.0       0.0
4         NK  2021-09-02 00:00:00   3000.0  ...       NaN       NaN       NaN
..       ...                  ...      ...  ...       ...       ...       ...
74        MX  2021-11-18 00:00:00   6400.0  ...  Nov 2021    6400.0       0.0
75        MX  2021-11-19 00:00:00  10600.0  ...  Nov 2021   10600.0       0.0
76        GK           19/11/2021   2700.0  ...  Nov 2021    2700.0       0.0
77        MX  2021-11-22 00:00:00  12400.0  ...  Nov 2021   12400.0       0.0
78        JO           23/11/2021   2000.0  ...  Nov 2021    2000.0       0.0

[79 rows x 8 columns]

In [ ]:
# select all entries where names are unique and form their own dataframes
name_list = ['NK', 'MX', 'JO', 'GK']
purchaser_list = {}

for name in name_list:
    new_df = name + '_df'
    new_df = data[data['Purchaser'] == name]
    purchaser_list.update({name: new_df})

purchaser_list

{'GK':    Purchaser                 Date     Cost  ...     Month Food Cost Misc Cost
 0         GK  2021-08-30 00:00:00   1600.0  ...  Aug 2021    1600.0       0.0
 2         GK  2021-09-02 00:00:00  11400.0  ...  Sep 2021       0.0   11400.0
 3         GK  2021-09-02 00:00:00   1400.0  ...  Sep 2021    1400.0       0.0
 5         GK  2021-09-04 00:00:00  12400.0  ...  Sep 2021       0.0   12400.0
 6         GK  2021-09-04 00:00:00   3200.0  ...  Sep 2021    3200.0       0.0
 11        GK  2021-09-12 00:00:00  14000.0  ...  Sep 2021   14000.0       0.0
 13        GK           13/09/2021   3200.0  ...  Sep 2021    3200.0       0.0
 14        GK           15/09/2021  11600.0  ...  Sep 2021   11600.0       0.0
 15        GK           17/09/2021   5300.0  ...  Sep 2021    5300.0       0.0
 19        GK           26/09/2021   9500.0  ...  Sep 2021    9500.0       0.0
 21        GK           30/09/2021   3200.0  ...  Sep 2021    3200.0       0.0
 23        GK           03/10/2021   2000.0  ...       NaN       NaN       NaN
 25        GK           04/10/2021   5500.0  ...  Oct 2021    5500.0       0.0
 29        GK           09/10/2021   1800.0  ...  Oct 2021       0.0    1800.0
 30        GK           09/10/2021   4000.0  ...  Oct 2021    4000.0       0.0
 32        GK           12/10/2021   2000.0  ...  Oct 2021    2000.0       0.0
 34        GK           12/10/2021   3400.0  ...  Oct 2021       0.0    3400.0
 37        GK           16/10/2021   5000.0  ...  Oct 2021    5000.0       0.0
 38        GK           17/10/2021   2400.0  ...  Oct 2021       0.0    2400.0
 41        GK           20/10/2021   1500.0  ...  Oct 2021    1500.0       0.0
 42        GK           20/10/2021   4500.0  ...  Oct 2021    4500.0       0.0
 44        GK           22/10/2021   5000.0  ...  Oct 2021    5000.0       0.0
 45        GK           23/10/2021   1600.0  ...  Oct 2021    1600.0       0.0
 47        GK           24/10/2021   5000.0  ...  Oct 2021    5000.0       0.0
 50        GK           28/10/2021   5500.0  ...  Oct 2021       0.0    5500.0
 52        GK           29/10/2021   3000.0  ...  Oct 2021       0.0    3000.0
 53        GK           30/10/2021   1000.0  ...  Oct 2021    1000.0       0.0
 55        GK           31/10/2021   8500.0  ...  Oct 2021    8500.0       0.0
 57        GK           02/11/2021   8500.0  ...  Nov 2021    8500.0       0.0
 59        GK           02/11/2021   7500.0  ...  Nov 2021    7500.0       0.0
 60        GK           02/11/2021   5200.0  ...  Nov 2021    5200.0       0.0
 61        GK           03/11/2021   5400.0  ...  Nov 2021    5400.0       0.0
 63        GK           06/11/2021   5300.0  ...  Nov 2021    5300.0       0.0
 65        GK           09/11/2021   3000.0  ...  Nov 2021    3000.0       0.0
 67        GK           10/11/2021   5500.0  ...  Nov 2021    5500.0       0.0
 68        GK           10/11/2021   8200.0  ...  Nov 2021    8200.0       0.0
 76        GK           19/11/2021   2700.0  ...  Nov 2021    2700.0       0.0

 [37 rows x 8 columns],
 'JO':    Purchaser                 Date     Cost  ...     Month Food Cost Misc Cost
 22        JO           03/10/2021  75480.0  ...  Oct 2021       0.0   75480.0
 36        JO  2021-10-14 00:00:00   4900.0  ...       NaN       NaN       NaN
 48        JO  2021-10-26 00:00:00   6550.0  ...       NaN       NaN       NaN
 51        JO  2021-10-29 00:00:00   2000.0  ...       NaN       NaN       NaN
 78        JO           23/11/2021   2000.0  ...  Nov 2021    2000.0       0.0

 [5 rows x 8 columns],
 'MX':    Purchaser                 Date     Cost  ...     Month Food Cost Misc Cost
 7         MX  2021-09-04 00:00:00   1800.0  ...  Sep 2021    1800.0       0.0
 8         MX  2021-09-06 00:00:00  16000.0  ...  Sep 2021   16000.0       0.0
 9         MX  2021-09-07 00:00:00   6700.0  ...  Sep 2021    6700.0       0.0
 10        MX  2021-09-09 00:00:00   1920.0  ...  Sep 2021    1920.0       0.0
 12        MX  2021-09-12 00:00:00  11400.0  ...  Sep 2021   11400.0       0.0
 16        MX  2021-09-19 00:00:00  20200.0  ...  Sep 2021   20200.0       0.0
 17        MX  2021-09-19 00:00:00   5100.0  ...  Sep 2021       0.0    5100.0
 18        MX  2020-09-23 00:00:00  10200.0  ...       NaN       NaN       NaN
 20        MX  2021-09-26 00:00:00  33800.0  ...  Sep 2021   33800.0       0.0
 24        MX  2021-10-05 00:00:00  11800.0  ...  Oct 2021   11800.0       0.0
 26        MX  2021-10-06 00:00:00   5500.0  ...  Oct 2021    5500.0       0.0
 27        MX  2021-10-07 00:00:00   1200.0  ...       NaN       NaN       NaN
 28        MX  2021-10-08 00:00:00   1900.0  ...       NaN       NaN       NaN
 31        MX  2021-10-11 00:00:00   6380.0  ...       NaN       NaN       NaN
 33        MX  2021-10-12 00:00:00   1150.0  ...       NaN       NaN       NaN
 35        MX  2021-10-14 00:00:00  11500.0  ...       NaN       NaN       NaN
 39        MX  2021-10-18 00:00:00   1900.0  ...       NaN       NaN       NaN
 40        MX  2021-10-20 00:00:00   3000.0  ...  Oct 2021    3000.0       0.0
 43        MX  2021-10-21 00:00:00   7300.0  ...       NaN       NaN       NaN
 46        MX  2021-10-23 00:00:00   8000.0  ...       NaN       NaN       NaN
 49        MX  2021-10-26 00:00:00   8000.0  ...  Oct 2021    8000.0       0.0
 54        MX  2021-10-30 00:00:00   4300.0  ...       NaN       NaN       NaN
 56        MX  2021-11-01 00:00:00   1600.0  ...       NaN       NaN       NaN
 58        MX  2021-11-02 00:00:00   5050.0  ...       NaN       NaN       NaN
 62        MX  2021-11-06 00:00:00  14500.0  ...       NaN       NaN       NaN
 64        MX  2021-11-08 00:00:00   3000.0  ...       NaN       NaN       NaN
 66        MX  2021-11-09 00:00:00   4250.0  ...       NaN       NaN       NaN
 69        MX  2021-11-12 00:00:00   7600.0  ...  Nov 2021    7600.0       0.0
 70        MX  2021-11-14 00:00:00   5800.0  ...       NaN       NaN       NaN
 71        MX  2021-11-15 00:00:00   7350.0  ...  Nov 2021    7350.0       0.0
 72        MX  2021-11-16 00:00:00   4250.0  ...  Nov 2021    4250.0       0.0
 73        MX  2021-11-17 00:00:00   5400.0  ...  Nov 2021    5400.0       0.0
 74        MX  2021-11-18 00:00:00   6400.0  ...  Nov 2021    6400.0       0.0
 75        MX  2021-11-19 00:00:00  10600.0  ...  Nov 2021   10600.0       0.0
 77        MX  2021-11-22 00:00:00  12400.0  ...  Nov 2021   12400.0       0.0

 [35 rows x 8 columns],
 'NK':   Purchaser                 Date    Cost  ...     Month Food Cost Misc Cost
 1        NK  2021-09-01 00:00:00  4300.0  ...  Sep 2021    4300.0       0.0
 4        NK  2021-09-02 00:00:00  3000.0  ...       NaN       NaN       NaN

 [2 rows x 8 columns]}

In [ ]:
# total expenses
purchaser_expense = {}
for purchaser, df in purchaser_list.items():
    purchaser_expense.update({purchaser: df['Cost'].sum()})

purchaser_expense

{'GK': 189800.0, 'JO': 90930.0, 'MX': 267250.0, 'NK': 7300.0}

#Share Contribution and Deficit

In [ ]:
total_expense = sum(purchaser_expense.values())
total_expense

555280.0

In [ ]:
# personal share
personal_share = total_expense/len(purchaser_expense)
personal_share

138820.0

In [ ]:
# deficit
deficits = {person: contribution - personal_share for person, contribution in purchaser_expense.items()}
deficits

{'GK': 50980.0, 'JO': -47890.0, 'MX': 128430.0, 'NK': -131520.0}

# Monthly Analysis 💰

In [ ]:
# plt.bar(total_expense.keys(), total_expense.values())