<a href="https://colab.research.google.com/github/GeoffreyKimani/InvetorySystem-VueJS-/blob/master/house_expenditure_anaylsis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import io
import pandas as pd

from google.colab import files

# upload file
data_file = files.upload()

Saving HouseHold Expenditure - Expenditure.csv to HouseHold Expenditure - Expenditure (2).csv

In [ ]:
# load data in dataframe
df = pd.read_csv(io.BytesIO(data_file["HouseHold Expenditure - Expenditure.csv"]), 
                 usecols=['Purchaser', 'Date', 'Cost', 'Category', 'Item'])

# remove rows with no entries based on date
df = df[df['Date'].notna()]

# displa
df

   Purchaser  ...                                               Item
0         GK  ...                                           Sardines
1         NK  ...                      Sardines 4 * 700 Milk 3 * 500
2         GK  ...    2 Fantas + Nescafe coffee + 2 Instant porriage
3         GK  ...                                              Bread
4         NK  ...                                          1 KG Beef
5         GK  ...  Mayonnesse-3.5K, Peanut-5.5K, Prestige-2K, bre...
6         GK  ...                                      Eggs - 1 Tray
7         Mx  ...                                   Onions, Tomatoes
8         MX  ...  Meat(1.5kg)-4.5k, Maize Flour(5kg)-4K, Rice(5k...
9         MX  ...  Sardines(4)-2.8K, Potatoes(4kg)-1.2K, Milk(2)-...
10        MX  ...                                           Eggs(16)
11        GK  ...  Cornflakes - 1kg, Porrige - 2 packs, cinnamon,...
12        MX  ...  Beef(1kg)-3K, Cooking oil(1L)-2.8K, Bread-1.4K...
13        GK  ...                                      Eggs - 1 Tray
14        GK  ...       Macoronni, Spaggeti, Sardines, Milk and Soda
15        GK  ...            Sardines 3 tins, Milk - 2 Pacs, Eggs 16
16        MX  ...  Cornflakes (1kg) - 6k, Rwanda tea bag-3.4k, mi...
17        MX  ...                                   Soap-Imperial -6
18        MX  ...  Rice-(5kg)-5k, Meat(1kg)-3200, Maid bought oth...
19        GK  ...                       Weetabix - 6500, Soda - 3000
20        MX  ...  Beans-(4kg), Macaroni(3), Salt(0.5kg), Sugar(1...
21        GK  ...                                      Eggs - 1 Tray
22        MX  ...  Cornflakes - 7500, milk - 1400, Kericho gold -...
23        GK  ...                                    Weetabix - 5500
24        MX  ...  Rice(2kg) - 1600, Beef(1kg) - 3200, Tomatoes -...
25        MX  ...               Nanasi-500, Magi- 200, Vitunguu- 500
26        MX  ...                      Sardines-1600, vegetables-300
27        GK  ...                               Soap-Bar soap - 1800
28        GK  ...                      Chapatis - 1000 + Soda - 3000
29        MX  ...  Meat-3200, Green beans-300, Tomato-500, Salisa...
30        GK  ...                           Bread - 1200, milk - 800
31        MX  ...              Rice-800, Cassava-250, Ubunyobuga-100
32        MX  ...                        Box of milk- 8500 soda-3000
33        JO  ...  Rice-2kg 1600, Maize flour-5kg 2500, Tomatoes-...
34        GK  ...                      Chapatis - 2000 + Soda - 3000
35        GK  ...                            Sugar 2kgs - 1kg @ 1200
36        MX  ...  Green beans-300, bananas-600,tomatoes-500, viu...
37        GK  ...                            Instant porridge - 1500
38        MX  ...                                          Meat-3200
39        GK  ...                        Meat - 3200 Potatoes - 1800
40        GK  ...                            Sardines - 2 cans @@800
41        MX  ...                                   Cornflakes -8000
42        GK  ...                                  Rice - 5KG @@1000

[43 rows x 5 columns]

In [ ]:
# select all entries where names are unique and form their own dataframes
name_list = ['NK', 'MX', 'JO', 'GK']
purchaser_list = []

for name in name_list:
    new_df = name + '_df'
    new_df = df[df['Purchaser'] == name]
    purchaser_list.append(new_df)

purchaser_list

[  Purchaser        Date    Cost Category                           Item
 1        NK  01/09/2021  4300.0     Food  Sardines 4 * 700 Milk 3 * 500
 4        NK  02/09/2021  3000.0     Food                      1 KG Beef,
    Purchaser  ...                                               Item
 8         MX  ...  Meat(1.5kg)-4.5k, Maize Flour(5kg)-4K, Rice(5k...
 9         MX  ...  Sardines(4)-2.8K, Potatoes(4kg)-1.2K, Milk(2)-...
 10        MX  ...                                           Eggs(16)
 12        MX  ...  Beef(1kg)-3K, Cooking oil(1L)-2.8K, Bread-1.4K...
 16        MX  ...  Cornflakes (1kg) - 6k, Rwanda tea bag-3.4k, mi...
 17        MX  ...                                   Soap-Imperial -6
 18        MX  ...  Rice-(5kg)-5k, Meat(1kg)-3200, Maid bought oth...
 20        MX  ...  Beans-(4kg), Macaroni(3), Salt(0.5kg), Sugar(1...
 22        MX  ...  Cornflakes - 7500, milk - 1400, Kericho gold -...
 24        MX  ...  Rice(2kg) - 1600, Beef(1kg) - 3200, Tomatoes -...
 25        MX  ...               Nanasi-500, Magi- 200, Vitunguu- 500
 26        MX  ...                      Sardines-1600, vegetables-300
 29        MX  ...  Meat-3200, Green beans-300, Tomato-500, Salisa...
 31        MX  ...              Rice-800, Cassava-250, Ubunyobuga-100
 32        MX  ...                        Box of milk- 8500 soda-3000
 36        MX  ...  Green beans-300, bananas-600,tomatoes-500, viu...
 38        MX  ...                                          Meat-3200
 41        MX  ...                                   Cornflakes -8000

 [18 rows x 5 columns],
    Purchaser  ...                                               Item
 33        JO  ...  Rice-2kg 1600, Maize flour-5kg 2500, Tomatoes-...

 [1 rows x 5 columns],
    Purchaser  ...                                               Item
 0         GK  ...                                           Sardines
 2         GK  ...    2 Fantas + Nescafe coffee + 2 Instant porriage
 3         GK  ...                                              Bread
 5         GK  ...  Mayonnesse-3.5K, Peanut-5.5K, Prestige-2K, bre...
 6         GK  ...                                      Eggs - 1 Tray
 11        GK  ...  Cornflakes - 1kg, Porrige - 2 packs, cinnamon,...
 13        GK  ...                                      Eggs - 1 Tray
 14        GK  ...       Macoronni, Spaggeti, Sardines, Milk and Soda
 15        GK  ...            Sardines 3 tins, Milk - 2 Pacs, Eggs 16
 19        GK  ...                       Weetabix - 6500, Soda - 3000
 21        GK  ...                                      Eggs - 1 Tray
 23        GK  ...                                    Weetabix - 5500
 27        GK  ...                               Soap-Bar soap - 1800
 28        GK  ...                      Chapatis - 1000 + Soda - 3000
 30        GK  ...                           Bread - 1200, milk - 800
 34        GK  ...                      Chapatis - 2000 + Soda - 3000
 35        GK  ...                            Sugar 2kgs - 1kg @ 1200
 37        GK  ...                            Instant porridge - 1500
 39        GK  ...                        Meat - 3200 Potatoes - 1800
 40        GK  ...                            Sardines - 2 cans @@800
 42        GK  ...                                  Rice - 5KG @@1000

 [21 rows x 5 columns]]

In [ ]:
# for each of the dfs find the total spent and make a graph
for purchase in purchaser_list:
    # cost
    print(purchase['Purchaser'] , " spent ", purchase['Cost'].sum())

1    NK
4    NK
Name: Purchaser, dtype: object  spent  7300.0
8     MX
9     MX
10    MX
12    MX
16    MX
17    MX
18    MX
20    MX
22    MX
24    MX
25    MX
26    MX
29    MX
31    MX
32    MX
36    MX
38    MX
41    MX
Name: Purchaser, dtype: object  spent  157650.0
33    JO
Name: Purchaser, dtype: object  spent  4900.0
0     GK
2     GK
3     GK
5     GK
6     GK
11    GK
13    GK
14    GK
15    GK
19    GK
21    GK
23    GK
27    GK
28    GK
30    GK
34    GK
35    GK
37    GK
39    GK
40    GK
42    GK
Name: Purchaser, dtype: object  spent  110600.0